.benefits {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
}

.benefits__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 52px;
  line-height: 119%;
  letter-spacing: -0.02em;
  color: var(--color-gray-900);
  text-align: left; /* Добавляем выравнивание текста по левому краю */
  width: 100%; /* Чтобы заголовок занимал всю ширину */
  margin-bottom: 38px;
}

.benefits__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 колонки */
  gap: 48px 30px; /* 40px между рядами, 60px между колонками */
  max-width: 1038px; /* Ограничиваем ширину сетки */
  width: 100%; /* Занимает всю доступную ширину */
}

.benefits__item {
  display: flex; /* Flex для расположения иконки и текста */
  align-items: flex-start; /* Выравнивание по верху */
  gap: 40px; /* Расстояние между иконкой и текстом */
  background-color: var(--color-white);
  border-radius: 8px;
  transition: all 0.3s ease;
}

.benefits__item:hover {
  transform: translateY(-5px);
}

.benefits__item-icon {
  width: 72px;
  height: 72px;
  flex-shrink: 0;
  background-color: var(--color-bg-secondary); /* Серый фон */
  border-radius: 50%; /* Круглая форма */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.3s ease;
}

/* Контейнер для SVG рисунков */
.benefits__item-icon-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefits__item-content {
  flex: 1;
  display: flex;
  flex-direction: column; /* Вертикальное расположение заголовка и описания */
  width: 428px;
  height: 94px;
}

.benefits__item-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 142%;
  letter-spacing: -0.02em;
  color: var(--color-gray-900);
  margin-bottom: 8px;
}

.benefits__item-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--color-gray-900);
}
