.footer {
  background-color: var(--color-bg-dark);
  padding: 70px 0 44px;
}

.footer__title {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  color: var(--color-white);
  padding-bottom: 33px;
}

.footer__info {
  display: flex;
}

.footer__about {
  flex: 1;
}

.footer_about-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.02em;
  color: var(--color-white);
  padding-bottom: 6px;
}

.footer_about-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.02em;
  color: var(--color-white);
  padding-bottom: 7px;
}

.footer__links-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.links-row:first-child {
  display: flex;
  gap: 22px;
  justify-content: flex-end;
}

.links-row:last-child {
  display: flex;
  gap: 22px;
  justify-content: flex-end;
}

.footer__links-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__links {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.02em;
  color: var(--color-white);
  text-decoration: none;
  white-space: nowrap;
  text-align: right;
  transition: all 0.3s ease;
  display: inline-block;
}

.footer__links:hover,
.footer__links:focus {
  color: var(--color-primary);
  cursor: pointer;
  transform: translateY(3px);
}

.footer__links:focus {
  color: var(--color-alt);
  outline: none;
}

.footer__divider {
  width: 1170px;
  height: 1px;
  background: var(--color-white);
  opacity: 0.08;
  margin: 32px;
}

.footer__сopyrights {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__сopyrights-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: -0.02em;
  color: var(--color-white);
}

.footer__сopyrights-text-new {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: -0.02em;
  color: var(--color-white);
}
