/* Появление элементов */

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.slide-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.8s ease;
}

.slide-right {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.8s ease;
}

.slide-left.visible,
.slide-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.delay-1 {
  transition-delay: 0.1s;
}

.delay-2 {
  transition-delay: 0.2s;
}

.delay-3 {
  transition-delay: 0.3s;
}

/* Стили для анимации печати */
.typewriter-multiline {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.typewriter-cursor {
  display: inline;
  animation: blink 0.8s infinite;
  font-weight: normal;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}

.links-row:last-child,
.links-row:first-child {
  gap: 22px;
}

.links-row:first-child {
  display: flex;
  justify-content: flex-end;
}

.links-row:last-child {
  display: flex;
  justify-content: flex-end;
}