.introduction {
  background-color: var(--color-bg-dark);
  display: flex;
  flex-direction: column;

  /* padding-left: 111px; */
}

.banner__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 64px;
  line-height: 112%;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: var(--color-white);
  text-align: left;
  padding-top: 134px;
}

.quote {
  padding-top: 31px;
  padding-bottom: 36px;
}

.quote__text {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 142%;
  letter-spacing: -0.02em;
  color: var(--color-white);
  text-align: left;
  padding-bottom: 36px;
}

.quote__info {
  display: flex;
  align-items: center; /* Вертикальное выравнивание по центру */
  gap: 24px; /* Расстояние между картинкой и текстом */
}

.quote__icon {
  width: 90px;
  height: 90px;
  border-radius: 100px;
  border: 1px solid #000;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  background-image: url('/images/Portret_JesicaKumari.png');
  flex-shrink: 0;
  background-size: 280%;
  background-position: 48% 3%;
  background-repeat: no-repeat;
}

.quote__name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: var(--color-white);
  margin: 0; /* Убираем стандартные отступы */
}

.quote__job {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: var(--color-white);
  opacity: 0.8; /* Легкая прозрачность */
  margin: 0; /* Убираем стандартные отступы */
}
