.introduction {
  padding: 40px 0;
  text-align: center;
  place-items: center;
  display: flex;
  flex-direction: column;
}

.introduction__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 112%;
  letter-spacing: -0.02em;
  color: var(--color-text-light);
}

@media (--md-viewport) {
  .introduction {
    padding: 134px 0 150px;
    place-items: normal;
    display: block;
    flex-direction: row;
    text-align: left;
  }

  .introduction__title {
    font-size: 64px;
  }
}
