.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Лого+название слева, кнопка справа */
  padding-top: 18px;
}

.navbar__logo {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.navbar__title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  color: var(--color-nero);
  margin-left: 9px;
  margin-right: 53px;
}

.navbar__menu {
  display: flex;
  gap: 31px; /* Расстояние между пунктами меню */
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-right: auto;
}

.navbar__menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__link {
  color: var(--color-text-primary); /* Добавьте начальный цвет */
  text-decoration: none; /* Убираем подчеркивание */
  transition: all 0.3s ease; /* all вместо transform */
  display: inline-block;
  white-space: nowrap;
}

.navbar__link:hover {
  color: var(--color-primary);
  cursor: pointer;
  transform: translateY(3px);
}

.navbar__actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.navbar__action {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
