.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__header {
  background-color: var(--color-white);
}

.page__introduction {
  background-color: var(--color-bg-dark);
}

.page__solutions {
  background-color: var(--color-bg-dark);
}

.page__benefits {
  background-color: var(--color-white);
}

.page__footer {
  background-color: var(--color-bg-dark);
}

.page__closing {
  background-color: var(--color-bg-secondary);
}

.page__reviews {
  background-color: var(--color-white);
}

.page__customers {
  background-color: var(--color-white);
}

.page__teammates {
  background-color: var(--color-white);
}
