.quote {
  padding-top: 31px;
  padding-bottom: 36px;
}

.quote__text {
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 142%;
  letter-spacing: -0.02em;
  color: var(--color-text-light);
  padding: 0 30px 36px;
}

.quote__info {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  margin: 0 auto;
}

.quote__info-icon {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid #000;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  background-image: url('/images/Portret_JesicaKumari.png');
  flex-shrink: 0;
  background-size: 280%;
  background-position: 48% 3%;
}

.quote__info-name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;
  line-height: 156%;
  color: var(--color-text-light);
}

.quote__info-job {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 10px;
  line-height: 162%;
  color: var(--color-text-light);
}

@media (--md-viewport) {
  .quote__text {
    font-size: 24px;
    padding: 0 0 36px;
    width: 900px;
  }

  .quote__info {
    justify-content: flex-start;
    margin: 0;
  }

  .quote__info-icon {
    width: 90px;
    height: 90px;
  }

  .quote__info-name {
    font-size: 18px;
    line-height: 156%;
  }

  .quote__info-job {
    font-size: 16px;
  }
}
