:root {
  --color-text-primary: #191919;
  --color-text-secondary: #1e1e1e;
  --color-text-alt: #969696;
  --color-bg-dark: #052825;
  --color-bg-secondary: #e7ebfc;
  --color-nero: #1a1a1a;
  --color-grey: #767676;
  --color-white: #fff;
  --color-primary: #2e4fd7;
  --color-light-blue: #a1b3f4;
  --color-secondary: #46ba71;
  --color-alt: #f46953;
  --color-black: #000;
  --color-gray-900: #18191f;
  --color-logo-google-blue: #4285f4;
  --color-logo-chilled-chilly: #ea4335;
  --color-logo-safety-orange: #f60;
  --color-logo-orange-peel: #f90;
  --color-logo-deep-sky-blue: #00a4ef;
  --color-logo-space-cadet: #041e42;
  --color-logo-chateau-green: #34a853;
  --color-logo-fed-ex-purple: #652c8f;
  --color-logo-industrial-revolution: #737373;
  --color-logo-lime-green: #7fba00;
  --color-logo-pear: #d7df23;
  --color-logo-cinnabar: #ee2e24;
  --color-logo-orange-red: #f25022;
  --color-logo-selective-yellow: #fbbc05;
  --color-logo-radical-red: #ff385c;
  --color-logo-bladder-burst: #ffb900;
  --color-logo-turbo: #ffc124;
}
