:root {
  color-scheme: light;

  --color-text-light: var(--color-white-new);
  --color-text-primary: var(--color-rich-graphite);
  --color-text-secondary: var(--color-eerie-black);
  --color-text-alt: var(--color-spanish-gray);
  --color-bg-dark: var(--color-dark-green);
  --color-bg-secondary: var(--color-selago);
  --color-nero: var(--color-dark-gray);
  --color-gray: var(--color-bridge-gray);
  --color-white: var(--color-white-new);
  --color-primary: var(--color-royal-blue);
  --color-light-blue: var(--light-periwinkle);
  --color-secondary: var(--color-mint-green);
  --color-alt: var(--color-coral-red);
  --color-black: var(--color-black-new);
  --color-gray-900: var(--color-charcoal-black);
  --color-button-primary: var(--color-white-new);
}
